.lora-normal {
  font-family: "Lora", serif;
  font-weight: 600;
  font-style: normal;
}

.outfit-normal {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #729b79;
}

main {
  width: 80%;
  margin: 0 auto;
}

main div {
  display: grid;
  grid-template-columns: 1fr;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
}

#menu {
  background: none;
  border: 0;
  font-size: 1.5rem;
  color: #000;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
  content: "x";
}

.open a {
  display: block;
}

h1 {
    padding-left: 2%;
}

nav {
    display: flex;
    flex-direction: column;
    list-style: none;
}

/* nav :nth-child(-n+1) {
  padding-top: 80%;
} */

nav a {
    display: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
  text-decoration: underline double;
}

img {
  max-width: 70%;
  height: auto;
}

footer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}