@media screen and (min-width: 640px){
    main div {
      grid-template-columns: 1fr 1fr 1fr;
    }

    #menu {
      display: none;
    }

    nav {
      flex-direction: row;
      justify-content: flex-end;
    }

    nav a {
    display: block;
    padding-left: 5%;
    color: white;
    text-decoration: none;
}

nav a:hover {
  text-decoration: underline double;
}

}
